{% extends 'baseView.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <img src="{% static 'img/list.png' %}" alt="" class="img-style">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Estado envio</th>
                    <th>Fecha llegada</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for status in page_obj %}
                <tr>
                    <td scope="row">{{status.id}}</td>
                    <td>{{status.sale.user}}</td>
                    <td>{{status.status_send}}</td>
                    <td>{{status.date_arrival}}</td>
                    <td>
                        <a class="btn btn-warning" href="../update-status-send-user/{{status.id}}">Editar</a>
                        <a class="btn btn-danger" href="#">Detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'status_send:add_status_send_user' %}" class="btn btn-primary">Agregar nuevo estado envio</a>
        {% include 'pagination_btns.html' %}
    </div>
</div>
{% endblock %}