{% extends 'baseView.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <img src="{% static 'img/list.png' %}" alt="" class="img-style">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Factura</th>
                    <th>Estado de envio</th>
                    <th>Fecha inicio envio</th>
                    <th>Fecha actual estado</th>
                    <th>Fecha llegada envio</th>
                </tr>
            </thead>
            <tbody>
                {% for status in page_obj %}
                <tr>
                    <td scope="row">{{status.sale.id}}</td>
                    <td>{{status.status_send}}</td>
                    <td>{{status.date_deliver_start}}</td>
                    <td>{{status.date_actual_state}}</td>
                    <td>{{status.date_arrival}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'pagination_btns.html' %}
    </div>
</div>
{% endblock %}