{% extends 'baseView.html'%}
{% load static %}

<!-- bloque de archivos estaticos a cargar -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/signin/styles.css' %}">
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<div class="box-layout">
    <div class="image">
        <img src="{% static 'img/user.png' %}" id="user-image">
    </div>
    <form method="post">
        <div class="form-group">
            <label>Nombre/s</label>
            <input type="text" class="form-control input-style" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control input-style" placeholder="Last name">
        </div>
        <div class="form-group">
            <label>Correo electrónico</label>
            <input type="email" class="form-control input-style" placeholder="email">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control input-style" placeholder="Username">
        </div>
        <div class="form-group">
            <label>Imagen de perfil</label>
            <input type="file" class="form-control input-style">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control input-style" placeholder="password">
        </div>
        <div class="form-group">
            <label>Repetir contraseña</label>
            <input type="password" class="form-control input-style" placeholder="password">
        </div>
        <div class="form-group">
            <label>Genéro</label>
            <select class="form-control input-style" name="select">
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>
            </select>
        </div>
        <div class="form-group">
            <label>Fecha nacimiento</label>
            <input type="date" class="form-control input-style"/>
        </div>
        <button type="submit" class="btn btn-primary">Registrarme</button>
    </form>
</div>
{% endblock %}
