.main-box{
    padding: 2%;
}
.image-card{
    width: 80%;
    height: 75%;
}
.card-product{
    margin: 4%;
    box-shadow: 3px 3px 3px 3px lightgray;
    padding: 1%;
}
#graphic{
    height: 20%;
}
.checked{
    color: gold;
}
.box-shadowed{
    margin: 0 auto;
    box-shadow: 3px 3px 3px 5px rgb(173, 173, 173);
    margin: 1%;
    padding: 1%;
    border-radius: 15px;
}
.btn-style{
    width: 100%;
}