.box-dashboard{
    width: 90%;
    margin: 1%;
    margin-left: 5%;
}
.chart-style{
    padding: 2%;
}
.box-shadowed{
    margin: 0 auto;
    box-shadow: 3px 3px 3px 4px lightgray;
    margin: 1%;
    padding: 1%;
}
.btn-style{
    width: 90%;
}