.container{
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 4px 6px lightgray;
    width: 90%;
    padding: 3%;
}
h1{
    text-align: center;
}
#image-style{
    width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;
}
.box{
    width: 80%;
    margin: 0 auto;
}
