{% extends 'baseView.html' %}
{% load static %}


{% block head %}
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <div class="form-group">
            <label>Búsqueda</label>
            <input type="hidden" id="url" value="{% url 'user_admin:list_super_user' %}">
            <div class="flex-search">
                <input type="search" name="" class="form-control" id="search-input" class="flex-item" placeholder="Ingresa el username">
                <button class="btn btn-success flex-item" id="btn-submit">Buscar</button>
            </div>
        </div>
        </form>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre usuario</th>
                    <th>¿Superusuario?</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for user in page_obj %}
                <tr>
                    <td scope="row">{{user.id}}</td>
                    <td>{{user.username}}</td>
                    {% if user.is_superuser %}
                    <td>Superusuario</td>
                    {% else %}
                    <td>Usuario normal</td>
                    {% endif %}
                    <td>
                        <a class="btn btn-warning" href="../../update-superuser/{{user.id}}">Cambiar tipo</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-danger" href="{% url 'user_admin:list_super_user' %}">Cancelar búsqueda</a>
    </div>
</div>
{% include 'pagination_list_btns.html' %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/search_users.js' %}"></script>
{% endblock %}