{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stylesWarrantyProduct.css' %}">
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <div class="row">
            <div class="col-middle">
                <img src="{% static image %}" class="image-style">
            </div>
            <div class="col-middle">
                <h3>Producto: Vestido primaveral</h3>
                <p>
                    Phasellus ac sem eget quam pharetra suscipit. Aenean arcu augue, tincidunt eu iaculis a, sollicitudin id lacus. 
                    Cras a accumsan leo. Sed pretium vehicula nisi, a ultrices metus rutrum ut. Maecenas ut pellentesque massa. 
                    Fusce gravida elementum feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <strong>Número de la factura: </strong> 12345678
            </div>
            <div>
                <p><strong>Precio de compra: </strong> $130.51</p>
                <p><strong>Fecha inicio garantía: </strong> 11/02/21</p>
                <p><strong>Fecha fin garanía: </strong> 11/05/21</p>
                <p><strong>Status: </strong> Active</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}