.flex-search{
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
#search-input{
	width: 85%;
}
.flex-item{
	flex-direction: column;
}
h2{
	text-align: center;
	margin-top: 2%;
}
.cards-box{
	width: 90%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.card-product{
	width: 25%;
	padding: 2%;
	margin: 1%;
}
.image-style{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}
.row-btns{
	padding: 3%;
}
h4{
	text-align: center;
}
.btn-category{
	width: 45%;
	margin: 2%;
}
@media screen and (max-width: 1064px){
	.card-product div p{
		font-size: 14px;
	}
	.card-product div h4{
		font-size: 16px;
	}
}
@media screen and (max-width: 968px){
	.card-product div p{
		font-size: 12px;
	}
	.card-product div h4{
		font-size: 14px;
	}
}
@media screen and (max-width: 968px){
	.card-product div p{
		font-size: 10px;
	}
	.card-product div h4{
		font-size: 12px;
	}
}
@media screen and (max-width: 602px){
	.card-product div p{
		font-size: 8px;
	}
	.card-product div h4{
		font-size: 10px;
	}
	.image-style{
		width: 70%;
    	height: 70%;
	}
}
@media screen and (max-width: 512px){
	.card-product div p{
		font-size: 7px;
	}
	.card-product div h4{
		font-size: 9px;
	}
	.image-style{
		width: 70%;
    	height: 70%;
	}
}