{% extends 'baseView.html' %}
{% load static %}

{% block content %}
<div class="box-layout">
    <h1>Factura</h1>
    <div class="box-content">
        <div class="flex-item">
          <div class="cols-2">
            <label>Nombre empresa: </label>
            <span>Shop IA online</span><br>
            <label>Dirección: </label>
            <span>My enterprise avenue #136</span><br>
            <label>RFC: </label>
            <span>JHFS0000LIAHKL</span><br>
          </div>
          <div class="cols-2">
            <label>Fecha: </label>
            <span>{{object.date_sale}}</span><br>
            <label>Número factura: </label>
            <span>{{object.id}}</span>
          </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Producto</th>
                <th>Color</th>
                <th>Talla</th>
                <th>Cantidad</th>
                <th>Precio unidad</th>
                <th>Fecha Garantía</th>
                <th>Estado Garantía</th>
              </tr>
            </thead>
            <tbody>
              {% for detail in details %}
                <td>{{detail.product}}</td>
                <td style="background-color: {{detail.color}}"";></td>
                <td>{{detail.size}}</td>
                <td>{{detail.ammount}}</td>
                <td>${{detail.subtotal}}</td>
                <td>{{detail.get_max_warranty_date}}</td>
                <td>{{detail.get_status_warranty}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <label>Total productos: </label>
          <span>{{number_elements}}</span><br>
          <label>Iva: </label>
          <span>{{iva}}</span><br>
          <label>Subtotal: </label>
          <span>${{object.subtotal}}</span><br>
          <label>Total: </label>
          <span>${{object.total}}</span><br>
    </div>
</div>
{% endblock %}