{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <img src="{% static 'img/user.png' %}" class="img-style">
        <input type="hidden" id="value" value="{% url 'user:edit_password' %}">
        <input type="hidden" id="action" value="{{action}}">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Nueva contraseña</label>
                <input type="password" name="new_password" class="form-control">
            </div>
            <div class="form-group">
                <label>Confirmar contraseña</label>
                <input type="password" name="confirm_password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">{{btn}}</button>
            <a href="{% url 'app_views:dashboard_user' %}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/validate_action.js' %}"></script>
{% endblock %}
