{% extends 'baseView.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}


{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <img src="{% static 'img/color.png' %}" class="img-style">
        <input type="hidden" id="value" value="{{list}}">
        <input type="hidden" id="action" value="{{action}}">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">Color a elegir</label>
            <select name="color" id="" class="form-control">
                <option value="1" style="background-color: #0051ff;">Azul</option>
                <option value="2" style="background-color: #08e608;">Verde</option>
                <option value="3" style="background-color: #ee3f0a;">Rojo</option>
                <option value="4" style="background-color: #FFA500;">Naranja</option>
            </select>
            <button type="submit" class="btn btn-primary">{{btn}}</button>
            <a href="{{list}}" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/validate_action.js' %}"></script>
{% endblock %}