{% extends 'baseView.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/stylesListProductShop.css' %}">
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <h3>{{object.get_name}}</h3>
        <div class="flex-item">
            <div class="cols-2">
                <img src="{{object.get_image}}" class="img-detail">
            </div>
            <div class="cols-2">
                <h4>Datos personales</h4>
                <p><strong>Correo electronico: </strong>{{object.email}}</p>
                <p><strong>Teléfono: </strong>{{object.telephone}}</p>
            </div>
        </div>
        <h3>Productos ofertados</h3>
        {% include 'productsOfSupplier.html' %}
        <a href="../list-product/{{object.id}}" class="btn btn-success">Ver todos los productos</a>
    </div>
</div>
{% endblock %}