<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1&id_supplier={{id_supplier}}&name={{name}}" class="btn btn-warning">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}&id_supplier={{id_supplier}}&name={{name}}" class="btn btn-success">previous</a>
        {% endif %}


        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&id_supplier={{id_supplier}}&name={{name}}" class="btn btn-success">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&id_supplier={{id_supplier}}&name={{name}}" class="btn btn-danger">last &raquo;</a>
        {% endif %}


        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    </span>
</div>