<div class="product-box">
    {% for object in page_obj %}
    {% if object.is_active == True %}
    <div class="card-product">
        <div class="card-product-item">
            <img src="{{object.get_image}}" class="image-style">
        </div>
        <div class="card-product-item">
            <h4>{{object.name}}</h4>
            <p>{{object.description}}</p>
            {% if discount == True %}
            <strong>Precio: </strong>${{object.get_pvp_with_discount}}MXN<br>
            {% else %}
            <strong>Precio: </strong>${{object.pvp}}MXN<br>
            {% endif %}
            {% include 'rankProduct.html' %}
            <a href="../../product/detail/{{object.id}}" class="btn btn-primary">Ver</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>