{% extends 'baseView.html' %}
{% load static %}
{% load widget_tweaks %}

<!--Bloque de archivos estáticos tales como javascript-->
{% block head %}
<link rel="stylesheet" href="{% static 'css/registerSupplier.css' %}">
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<div class="box-layout">
    <img src="{% static image %}" class="img-register"/>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label>{{ field.label }}:</label>
            {{ field|add_class:'form-control'|attr:'autocomplete:off'}}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Registrar</button>
        <a href="#" class="btn btn-danger">Cancelar</a>
    </form>
</div>
{% endblock %}
