{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive_design.css' %}">
    <link rel="stylesheet" href="{% static 'libs/adminlte-3.0.4/css/adminlte.min.css' %}">
    <title>Correo usuario inactivo</title>
</head>
<body>
    <div class="box-layout">
        <h1>{{title}}</h1>
        <div class="box-content">
        <img src="https://www.freeiconspng.com/uploads/sign-warning-icon-png-7.png" width="350" alt="sign warning icon png" class="img-style"/></a>
            <img src="https://cdn-icons.flaticon.com/png/512/2058/premium/2058160.png?token=exp=1655939805~hmac=76bb6430554b36628b647fb58b759cb3" class="img-style">
            <div class="card">
                Tu {{username}} la cuenta con la que has ingresado a nuestro sistema se ha 
                dado de baja, por motivos tales como: inactividad, mal uso de tu cuenta, 
                entre otros, por lo que debes de contactarte con el equipo de soporte para 
                que puedas usar nuestro servicio nuevamente <b>Gracias!</b>
            </div>
        </div>
    </div>
</body>
</html>