.pagination{
    margin-top: 1%;
}
.current{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.edit-a{
    text-decoration: none;
    color: orange;
}
.delete-a{
    text-decoration: none;
    color: red;
}