{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard_admin/styles.css' %}">
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-dashboard">
        <h2>Opciones administrador</h2>
        <div class="flex-item">
            <div class="cols-4 box-shadowed">
                <h3>Administración</h3>
                <p><a href="{% url 'color:update_page' %}" class="btn orange-btn btn-style">Color página</a></p>
                <p> <a href="#" class="btn orange-btn btn-style">Reportes de venta</a></p>
                <p><a href="#" class="btn orange-btn btn-style">Ventas</a></p>
                <p><a href="{{stock}}" class="btn orange-btn btn-style">Stock</a></p>
            </div>
            <div class="cols-4 box-shadowed">
                <h3>Usuarios</h3>
                <p><a href="#" class="btn orange-btn btn-style">Administrar usuarios</a></p>
                <p><a href="#" class="btn orange-btn btn-style">Modificar usuarios</a></p>
                <p><a href="#" class="btn orange-btn btn-style">Eliminar usuarios</a></p>
                <p><a href="#" class="btn orange-btn btn-style">Correo masivo</a></p>
            </div>
            <div class="cols-4 box-shadowed">
                <h3>Tienda</h3>
                <p><a href="{{supplier}}" class="btn orange-btn btn-style">Proveedores</a></p>
                <p><a href="#" class="btn orange-btn btn-style">Garantías</a></p>
                <p><a href="{% url 'product:options' %}" class="btn orange-btn btn-style">Productos</a></p>
                <p><a href="{{status}}" class="btn orange-btn btn-style">Estados de envio</a></p>
            </div>
            <div class="cols-4 box-shadowed">
                <h3>Opciones</h3>
                <p><a href="#" class="btn orange-btn btn-style">Hora respaldo</a></p>
                <p><a href="#" class="btn orange-btn btn-style">Flujo de usuarios</a></p>
                <p><a href="#" class="btn orange-btn btn-style">Comprar productos</a></p>
                <p><a href="#" class="btn orange-btn btn-style">Estado página</a></p>
            </div>
        </div>
        <h2>Estádisticas</h2>
        <div class="chart-style">
            <h3>Ventas de la semana</h3>
            <canvas id="line-chart"></canvas>
            <a class="btn btn-primary" href="#">Predicción de ventas</a>
            <a class="btn btn-warning" href="#">Detalles</a>
            <hr>
        </div>
        <div class="chart-style">
            <h3>Ventas del mes</h3>
            <canvas id="myChart"></canvas>
            <a class="btn btn-primary" href="#">Predicción de ventas</a>
            <a class="btn btn-warning" href="#">Detalles</a>
            <hr>
        </div>
        <div class="chart-style">
            <h3>Categorias más vendidas</h3>
            <canvas id="graphic"></canvas>
            <a class="btn btn-primary" href="#">Más detalles</a>
            <a class="btn btn-warning" href="#">Administración</a>
            <hr>
        </div>
        <div class="chart-style">
            <h3>Número de usuarios de la página</h3>
            <canvas id="bar-chart-horizontal"></canvas>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard_admin/chart.js' %}"></script>
<script src="{% static 'js/dashboard_admin/bar_chart.js' %}"></script>
<script src="{% static 'js/dashboard_admin/filled_line_chart.js' %}"></script>
<script src="{% static 'js/dashboard_admin/line_chart.js' %}"></script>
{% endblock %}