{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard_user/styles.css' %}">
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="main-box">
        <h3>Ultimos productos comprados</h3>
        <div class="flex-item">
            <div class="cols-3 card-product">
                <h5>Vestido verano</h5>
                <img src="{% static 'img/dress.png' %}" alt="" class="image-card">
                <a class="btn btn-primary" href="#">Ver más</a>
            </div>
            <div class="cols-3 card-product">
                <h5>Vestido verano</h5>
                <img src="{% static 'img/dress.png' %}" alt="" class="image-card">
                <a class="btn btn-primary" href="#">Ver más</a>
            </div>
            <div class="cols-3 card-product">
                <h5>Vestido verano</h5>
                <img src="{% static 'img/dress.png' %}" alt="" class="image-card">
                <a class="btn btn-primary" href="#">Ver más</a>
            </div>
        </div>
        <a href="#" class="btn btn-success">Ver todas las compras</a>
        <h3>Perfil de usuario</h3>
        <div class="flex-item information-user">
            <div class="cols-2">
                <img src="{{ request.user.get_image }}" class="image-profile">
            </div>
            <div class="cols-2">
                <p><strong>Fecha primera compra: </strong>21/11/20</p>
                <p><strong>Fecha ultíma compra: </strong>15/08/21</p>
                <p><strong>Nombre: </strong>{{request.user.first_name}}</p>
                <p><strong>Apellidos: </strong>{{request.user.last_name}}</p>
                <a href="{% url 'user:view_profile' %}" class="btn btn-warning">Más información</a>
                <a href="#" class="btn btn-danger">Cambiar contraseña</a>
            </div>
        </div>
        <h3>Estadisticas de compras por categoría</h3>
        <canvas id="graphic"></canvas>
        <h3>Productos recomendados para ti</h3>
        <div class="flex-item">
            <div class="cols-3 card-product">
                <h5>Camisa deportiva</h5>
                <img src="{% static 'img/tshirt.png' %}" alt="" class="image-card">
                <div class="stars cols-2">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <a class="btn btn-primary" href="#">Ver más</a>
            </div>
            <div class="cols-3 card-product">
                <h5>Camisa deportiva</h5>
                <img src="{% static 'img/tshirt.png' %}" alt="" class="image-card">
                <div class="stars cols-2">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <a class="btn btn-primary" href="#">Ver más</a>
            </div>
            <div class="cols-3 card-product">
                <h5>Camisa deportiva</h5>
                <img src="{% static 'img/tshirt.png' %}" alt="" class="image-card">
                <div class="stars cols-2">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <a class="btn btn-primary" href="#">Ver más</a>
            </div>
        </div>
        <a href="#" class="btn btn-success">Ver más productos</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard_user/chart.js' %}"></script>
{% endblock %}