{% extends 'baseView.html' %}
{% load static %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <div class="card text-left">
            <div class="card-body">
              <h4 class="card-title"><strong>Ayuda</strong></h4>
              <p class="card-text">
                <strong>Correo electrónico: </strong> support@shopia@gmail.com<br/>
                El correo mostrado en el parrafo anterior es únicamente para soporte relacionado a 
                problemas con el acceso a tu cuenta, pagos realizados pero con estado de pago pendiente, etc. 
                
              </p>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
