{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stylesHome.css' %}">
{% endblock head %}


{% block content %}
<h1>{{title}}</h1>
<div class="box-layout">
    <h3>¿Que es Shop IA online?</h3>
    <div class="main-text flex-item">
        <div class="cols-2">
            <p>
                Suspendisse potenti. Vestibulum ut porttitor massa, sed lobortis nisl. Sed cursus quam ac tellus faucibus
                mattis. Fusce sit amet lectus diam.
                Donec blandit turpis vel massa dictum, id consequat sem hendrerit. Nullam ac purus et ligula lobortis
                viverra euismod eget lorem.
                Fusce vestibulum sapien neque, quis luctus dui maximus vel. Ut laoreet augue non metus pretium gravida.
                Etiam non fermentum purus, eget lacinia ligula.
                Integer pretium magna id ex aliquet, vel tempor neque fringilla. Nullam nibh ligula, congue ac maximus a,
                accumsan elementum massa.
                Mauris viverra elit neque, in hendrerit mi tempor ac. Sed mollis iaculis sodales. Maecenas vestibulum sit
                amet ante at molestie.
            </p>
            <a href="{{signin}}" class="btn btn-success">Crear cuenta</a>
        </div>
        <div class="cols-2">
            <img src="{% static 'img/paisaje.jpg' %}" class="main-image">
        </div>
    </div>
    <div class="main-image">
        <h3>Selección de nuestros mejores productos</h3>
        {% include 'carrousel.html' %}
    </div>
    <div class="flex-item">
        <div class="cols-2">
            <h3>Acerca de nosotros</h3>
            <p>
                Suspendisse potenti. Vestibulum ut porttitor massa, sed lobortis nisl. Sed cursus quam ac tellus
                faucibus mattis. Fusce sit amet lectus diam.
                Donec blandit turpis vel massa dictum, id consequat sem hendrerit. Nullam ac purus et ligula lobortis
                viverra euismod eget lorem.
                Fusce vestibulum sapien neque, quis luctus dui maximus vel. Ut laoreet augue non metus pretium gravida.
                Etiam non fermentum purus, eget lacinia ligula.
                Integer pretium magna id ex aliquet, vel tempor neque fringilla. Nullam nibh ligula, congue ac maximus
                a, accumsan elementum massa.
                Mauris viverra elit neque, in hendrerit mi tempor ac. Sed mollis iaculis sodales. Maecenas vestibulum
                sit amet ante at molestie.
            </p>
            <a class="btn btn-primary" href="#">Más información</a>
        </div>
        <div class="cols-2">
            <h3>Mision</h3>
            <p>
                Suspendisse potenti. Vestibulum ut porttitor massa, sed lobortis nisl. Sed cursus quam ac tellus
                faucibus mattis. Fusce sit amet lectus diam.
                Donec blandit turpis vel massa dictum, id consequat sem hendrerit. Nullam ac purus et ligula lobortis
                viverra euismod eget lorem.
                Fusce vestibulum sapien neque, quis luctus dui maximus vel. Ut laoreet augue non metus pretium gravida.
                Etiam non fermentum purus, eget lacinia ligula.
                Integer pretium magna id ex aliquet, vel tempor neque fringilla. Nullam nibh ligula, congue ac maximus
                a, accumsan elementum massa.
                Mauris viverra elit neque, in hendrerit mi tempor ac. Sed mollis iaculis sodales. Maecenas vestibulum
                sit amet ante at molestie.
            </p>
            <a class="btn btn-primary" href="#">Más información</a>
        </div>
    </div>
    <div>
        <h3>Información de contacto</h3>
    </div>
</div>

{% endblock %}