{% extends 'baseView.html' %}
{% load static %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <h2>Primeros pasos</h2>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer vel tempus massa. Pellentesque at mauris ac lectus lobortis suscipit. 
                Proin fermentum lacinia sem ac vestibulum. Sed scelerisque iaculis erat, et fringilla mauris lobortis sed. Curabitur molestie consequat diam, ac blandit nibh. Phasellus non urna nec metus tempus congue eget at nisi. Nulla quis turpis nunc. Fusce nulla lacus, iaculis at metus vitae, vestibulum rutrum ligula. Nunc erat lectus, luctus quis fermentum non, pulvinar quis nulla. Maecenas mauris est, mollis varius congue et, congue egestas justo. Donec vulputate sem nec elit ultrices ultricies. Proin at mollis neque, nec interdum magna. Maecenas vitae odio justo.
            </p>
        </div>
        <h2 style="text-align: center;">Otras metas</h2>
        <div>
            <ul>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
                <li><p>Phasellus tincidunt urna nec orci maximus pulvinar.</p></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
