<label>Seleccione los colores del producto</label>
<div class="">
    <div class="row">
        <div class="col-md-3">
            <input type="color" name="color-primary" class="form-control form-control-color">
        </div>
        <div class="col-md-3">
            <input type="color" name="color-secondary" class="form-control form-control-color">
        </div>
        <div class="col-md-3">
            <input type="color" name="color-secondary1" class="form-control form-control-color">
        </div>
        <div class="col-md-3">
            <input type="color" name="color-secondary2" class="form-control form-control-color">
        </div>
    </div>
</div>