{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/detail_category/styles.css' %}">
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <h3><strong>{{object.name}}</strong></h3>
        <p><img src="{{object.get_image}}" class="image-category"></p>
        <h5>Descripción</h5>
        <p>{{object.description}}</p>
        <h5><strong>Productos destacados</strong></h5>
    </div>
</div>
{% endblock %}