{% extends 'baseView.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <img src="{% static image %}" alt="" class="img-style">
        <div class="form-group">
            <form action="{{url}}" method="get">
                <label>Búsqueda</label>
                <div class="flex-search">
                    <input type="search" name="name" class="form-control" class="flex-item"
                        placeholder="Ingresa el nombre del producto" value="{{name}}">
                </div>
                <div class="form-group">
                    <label>Filtrar por</label>
                    <select class="form-control" name="status" id="options">
                      <option value="1" selected>Ninguno</option>
                      <option value="2">Activos</option>
                      <option value="3">Inactivos</option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit" id="btn-submit" style="width: 100%;">Buscar y filtrar</button>
            </form>
        </div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre producto</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for product in page_obj %}
                <tr>
                    <td scope="row">{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.pvp}}</td>
                    <td><img src="{{product.get_image}}" class="image-list"></td>
                    {% if product.is_active == True %}
                    <td><strong>Activo</strong></td>
                    {% endif %}
                    {% if product.is_active == False %}
                    <td><strong>Baja</strong></td>
                    {% endif %}
                    <td>
                        <a class="btn btn-warning" href="../edit/{{product.id}}">Editar</a>
                        <a class="btn btn-danger" href="../delete/{{product.id}}">Eliminar</a>
                        <a class="btn btn-success" href="../detail/{{product.id}}">Detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{create}}" class="btn btn-primary">Agregar nuevo producto</a>
        {% include 'pagination_product_supplier.html' %}
    </div>
</div>
{% endblock %}
