<div class="modal" tabindex="-1" id="myModalPredictionDiscount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Descuento predecido para el producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="alert alert-warning" role="alert">
                <strong>Nota: </strong> Esta predicción puede ser érronea, tome con 
                cautela los resultados presentes.
               </div>
                <div class="form-group">
                    <h6>Descuento </h6>
                    <p id="text_prediction"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>