{% extends 'baseView.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>Registrar una talla</h1>
    <div class="box-content">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label>{{ field.label }}:</label>
                {{ field|add_class:'form-control'|attr:'autocomplete:off'}}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Registrar talla</button>
            <a href="#" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}