<div class="box-sizes">
    <label>Seleccione las tallas o las dimensiones del producto</label><br>
    <label for="shortSize" class="label-style">Pequeño</label>
    <input type="checkbox" id="sizeShort" value="1"><br>

    <label for="mediumSize" class="label-style">Mediano</label>
    <input type="checkbox" id="mediumSize" value="2"><br>

    <label for="bigSize"class="label-style">Grande</label>
    <input type="checkbox" id="bigSize" value="3"><br>

    <label for="nonDefaultSize" class="label-style">Unitalla</label>
    <input type="checkbox" id="nonDefaultSize" value="4">
</div>
<div class="box-dimentions">
    <label for="shortSize" class="label-style">Pequeño</label>
    <input type="checkbox" id="sizeShort" value="5">
</div>