{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stylesDetailProduct.css' %}">
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-flex">
        <div class="image-product">
            <img src="{{object.get_image}}" class="image-style">
        </div>
        <div class="description-product">
            <h3>Descripción</h3>
            <p>
                {{object.description}}
            </p>
            <div>
                <p><strong>Valoración: </strong>4 estrellas</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>
            <div>
                <p><strong>Precio: </strong>${{object.pvp}} MXN</p>
                <button class="btn btn-success">Agregar al carrilo</button>
            </div>
        </div>
    </div>
    <h4>Tallas disponibles</h4>
    <div>
        {% for size in object.size.all %}
            <p>{{ size }}</p>
        {% endfor %}
    </div>
    <div>
        <h3>Comentarios</h3>
        <div class="main-comment">
            <strong>Usuario user: </strong>Suspendisse potenti. Nunc cursus sed risus vitae vestibulum
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="button">
            <button class="btn btn-primary">Cargar más comentarios...</button>
        </div>
    </div>

</div>
{% endblock %}