{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stylesDetailProduct.css' %}">
<script src="{% static 'js/obtain_data_radio_input.js' %}"></script>
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-flex">
        <div class="image-product">
            <img src="{{object.get_image}}" class="image-style">
        </div>
        <div class="description-product">
            <h4>Descripción</h4>
            <p>{{object.description}}</p>
            <h4>Colores</h4>
            <span style="background-color: {{object.primary_color}};" class="btn"></span>
            <span style="background-color: {{object.secondary_color}};" class="btn"></span>
            <span style="background-color: {{object.last_color}};" class="btn"></span>
            {% include 'rankProduct.html' %}
            <p><strong>Precio: </strong>${{object.get_pvp_with_discount}} MXN</p>
            <input type="hidden" id="price" value="{{object.get_pvp_with_discount}}">
            {% if stock %}
            <button class="btn btn-success" id="btn-buy">Agregar al carrito</button>
            {% endif %}

        </div>
        {% include 'modal_buy.html' %}
    </div>
    <h4>Tallas disponibles</h4>
    <ul>
        {% for size in object.size.all %}
        <li>{{ size }}</li>
        {% endfor %}
    </ul>
    <div>
        <h3>Comentarios</h3>
        <div class="main-comment">
            <strong>Usuario user: </strong>Suspendisse potenti. Nunc cursus sed risus vitae vestibulum
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="button">
            <button class="btn btn-primary">Cargar más comentarios...</button>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/modal_local_storage.js' %}"></script>
{% endblock %}