{% extends 'baseView.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/stylesListProductShop.css' %}">
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="product-box">
        {% include 'selectOrder.html' %}
        <input type="hidden" id="search-input" value="{{url}}" >
        <div id="list-prod">
            {% include 'productList_and_btns.html' %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock %}