{% if comment.valoration_user == 1 %}
<p><strong>Valoración: </strong>1 estrella</p>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
{% elif comment.valoration_user == 2 %}
<p><strong>Valoración: </strong>2 estrellas</p>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
{% elif comment.valoration_user == 3 %}
<p><strong>Valoración: </strong>3 estrellas</p>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
{% elif comment.valoration_user == 4 %}
<p><strong>Valoración: </strong>4 estrellas</p>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
{% elif comment.valoration_user == 5 %}
<p><strong>Valoración: </strong>5 estrellas</p>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
{% endif %} 
