{% extends 'baseView.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/stylesShopCart.css' %}">
<script src="{% static 'js/obtain_data_localstorage.js' %}"></script>
{% endblock %}

{% block content %}
<div class="box-layout">
    <h1>{{title}}</h1>
    <div class="box-content">
        <img src="{% static image %}" class="image-cart">
        <table class="table table-striped" id="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Item</th>
                    <th>Cantidad</th>
                    <th>Color</th>
                    <th>Precio</th>
                    <th>Talla</th>
                </tr>
            </thead>
            <tbody id="t_data">
                
            </tbody>
        </table>
        <div class="buttons">
            <button class="btn btn-success">Comprar articulos</button>
            <a href="{% url 'shop:main-shop' %}" class="btn btn-primary">Regresar a la tienda</a>
            <button class="btn btn-danger">Cancelar compra</button>
        </div>
    </div>
</div>
{% endblock %}